# Modify Inflow data

**Date:** 2026-01-21

**Authors:** Maximilian Manaila

**Summary:** This notebook provides tools to load, modify and save inflow input (Simstrat-like `Qin.dat`, `Sin.dat` or `Tin.dat`)

## Before you start:

**No Python knowledge needed!** Just follow these steps:
1. Run each cell in order (click the â–¶ï¸ button or press Shift+Enter)
2. Look for the sections marked "ðŸ‘‰ CUSTOMIZE" to modify parameters

## Content:

This notebook helps you modify the inflow input. You can:

1. **Load and display inflow data** Using data downloaded from https://www.alplakes.eawag.ch/downloads
2. **Modify inflow data** Standard mathematical operations on data as well as adding, removing and changing the order of inflow
3. **Save modified inflow data** To new or existing file

## Available functions:

- `deep, surf, deep_order, surf_order, units = load_inflow_data(path, file, start='file_start', stop='file_stop', load_units=True)` â€” Load downloaded deep and surface inflows and save their ordering and optionally load units of the inflow
- `save_inflow_data(deep, surf, deep_order, surf_order, path, file, copy=True)` â€” Save modified inflow data to a new or a existing file
- `deep/surf = check_negative(deep/surf, val_save, var)` â€” Check for negative values for one inflow
- `change_depth(deep/surf, col_index, depth)` â€” Change depth of one inflow
- `add_inflow(deep/surf, data_order, col_index=-1, values=0, depth=0)` â€” Add one inflow
- `remove_inflow(deep/surf, data_order, col_index=-1)` â€” Remove one inflow
- `change_order(deep/surf, data_order, new_col_index)` â€” Change order of inflows

---

# Step 1: Import Required Libraries
## ESSENTIAL STEP

Here you import the python libraries and custom functions needed for the following steps.

Simply run this cell once. You don't need to change anything here.

In [1]:
# Import standard Python libraries for data handling
import os               # Used to work with files and folders
import numpy as np      # Used for mathematical operations and working with arrays of numbers
import pandas as pd     # Used to read and modify data

# Import custom functions specifically designed for Alplakes data
# These functions do the heavy lifting for fetching and modifying data
from Modify_input_functions import load_inflow_data, save_inflow_data, check_negative, change_depth, add_inflow, remove_inflow, change_order

print("âœ“ All libraries loaded successfully!")
print("You're ready to start modifying inflow data.")

âœ“ All libraries loaded successfully!
You're ready to start modifying inflow data.

# Step 2
## Load local data

Here you load the inflow data from your locally saved file and display the units of the inflow data as well as the data to edit.

There are two types of inflows:
- `Deep Inflows`: depth is fixed relative to bottom of lake, saved as `deep`
- `Surface Inflows`: depth is fixed relative to surface of lake, saved as `surf`

Accordingly, two inflow tables are shown.

In both tables the first column is the `Datetime` and the following columns are the inflows with their depth and the inflow index (in brackets) in the title. 

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `local_path`: the path to the forcing data file
- `file_name`: the name of the forcing data file
  - `Qin.dat` for the water inflow
  - `Sin.dat` for the salinity inflow
  - `Tin.dat` for the temperature inflow
- `start`: from when on to edit forcing data
  - date and time in format `'YYYYMMDDHHMM'` (Year-Month-Day-Hour-Minute)
  - example: `'202510231500'` = October 23, 2025 at 15:00 (3:00 PM)
  - default: `'file_start'` -> start at beginning of file
- `stop`: until when to edit forcing data
  - same format as `start`
  - default: `'file_stop'` -> stop at end of file
- `load_units`: whether to load the units from the file
    - `True` to load the units (default)
    - `False` to not load the units, returns an empty DataFrame to `units`

In [2]:
local_path = '../tests/TestCase_LakeZurich'                 # ðŸ‘‰ CUSTOMIZE path to the local file
file_name = 'Qinp.dat'                                       # ðŸ‘‰ CUSTOMIZE name of the local file

deep, surf, deep_order, surf_order, units = load_inflow_data(
    path = local_path,                                      # input path to the local file
    file = file_name,                                       # input name of the local file
    start = '202306010000',                                 # ðŸ‘‰ CUSTOMIZE start of model output YYYYMMDDHHMM, or file_start
    stop = 'file_stop',                                     # ðŸ‘‰ CUSTOMIZE end of model output YYYYMMDDHHMM, or file_stop
    load_units = True                                       # ðŸ‘‰ CUSTOMIZE whether to load units or not
)

display(units)                                              # display the units
print('Deep Inflows')
display(deep.round(4))                                      # display the deep inflow data filtered to the date range
print('Surface Inflows')
display(surf.round(4))                                      # display the surface inflow data filtered to the date range

if file_name == 'Qin.dat':                                  # Unable negative numbers for water inflows
    positive = True
else:
    positive = False

Loading data from local file: ../geneva\Qin.dat
âœ“ Loaded 5 deep inflows with 721 rows from ../geneva\Qin.dat
No surface inflow
âœ“ Filtered to date range: 721 rows between 2023-06-01 and 2023-07-01

     Depth Deep Inflows Surface Inflows
Unit     m         m3/s            m2/s

Deep Inflows

               Datetime  0.0 (1)  0.0 (2)  0.0 (3)  0.0 (4)  0.0 (5)
0   2023-06-01 00:00:00   326.45     0.90     1.18     0.50     0.63
1   2023-06-01 01:00:02   312.05     0.90     1.18     0.50     0.63
2   2023-06-01 01:59:57   302.03     0.90     1.17     0.50     0.64
3   2023-06-01 03:00:00   309.05     0.90     1.15     0.50     0.64
4   2023-06-01 04:00:02   304.03     0.90     1.29     0.50     0.66
..                  ...      ...      ...      ...      ...      ...
716 2023-06-30 19:59:57   390.29     1.68     1.20     0.69     0.60
717 2023-06-30 21:00:00   413.23     1.58     1.20     0.59     0.67
718 2023-06-30 22:00:02   416.66     1.44     1.20     0.59     0.60
719 2023-06-30 22:59:57   414.31     1.30     1.20     0.78     0.60
720 2023-07-01 00:00:00   404.47     1.18     1.23     0.72     0.67

[721 rows x 6 columns]

Surface Inflows

               Datetime
0   2023-06-01 00:00:00
1   2023-06-01 01:00:02
2   2023-06-01 01:59:57
3   2023-06-01 03:00:00
4   2023-06-01 04:00:02
..                  ...
716 2023-06-30 19:59:57
717 2023-06-30 21:00:00
718 2023-06-30 22:00:02
719 2023-06-30 22:59:57
720 2023-07-01 00:00:00

[721 rows x 1 columns]

# Step 3
## Modify deep inflow data

This step presents various way to modify the deep inflow data.

You can modify the data in the following ways:
- `Add a constant`
- `Multiply by a constant`
- `Set to a constant`
- `Add a linear trend`
- `Change depth`
- `Add an inflow`
- `Remove an inflow`
- `Change order of inflows`

Be aware that:
- Water deep inflows (`Qin.dat` files) cannot be negative
    - this is controlled in this code
- If `ModelConfig.InflowMode` in Simstrat is set to 1 then:
    - all deep inflow values must be given for a range of depths on a per-meter basis (Q/h), as they will be integrated over depth by the model
    - more info here: https://github.com/Eawag-AppliedSystemAnalysis/Simstrat/blob/master/doc/SIMSTRAT_V304_UserManual.pdf, Section 5.2
    - this must be assured manually

### Add constant

Here you add a constant to any deep inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the deep inflow to modify
    - any integer with an existing deep inflow
- `constant`: the constant to add
    - any real number (can also be negative and/or a fraction)
    - water deep inflows cannot become negative

In [3]:
index = 1                                          # ðŸ‘‰ CUSTOMIZE the inflow to operate on
constant = -10                                     # ðŸ‘‰ CUSTOMIZE the constant

val_save = deep.iloc[:, index].copy()              # save the current values
deep.iloc[:, index] += float(constant)             # modify the data
if positive:                                       # check for negative values
    deep.iloc[:, index] = check_negative(
        deep.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(deep.round(4))                             # display the data

âœ“ Inflow (1) modified

               Datetime  0.0 (1)  0.0 (2)  0.0 (3)  0.0 (4)  0.0 (5)
0   2023-06-01 00:00:00   316.45     0.90     1.18     0.50     0.63
1   2023-06-01 01:00:02   302.05     0.90     1.18     0.50     0.63
2   2023-06-01 01:59:57   292.03     0.90     1.17     0.50     0.64
3   2023-06-01 03:00:00   299.05     0.90     1.15     0.50     0.64
4   2023-06-01 04:00:02   294.03     0.90     1.29     0.50     0.66
..                  ...      ...      ...      ...      ...      ...
716 2023-06-30 19:59:57   380.29     1.68     1.20     0.69     0.60
717 2023-06-30 21:00:00   403.23     1.58     1.20     0.59     0.67
718 2023-06-30 22:00:02   406.66     1.44     1.20     0.59     0.60
719 2023-06-30 22:59:57   404.31     1.30     1.20     0.78     0.60
720 2023-07-01 00:00:00   394.47     1.18     1.23     0.72     0.67

[721 rows x 6 columns]

### Multiply by constant

Here you multiply any deep inflow by a constant.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the deep inflow to modify
    - any integer with an existing deep inflow
- `constant`: the constant to multiply by
    - any real number (can also be negative and/or a fraction)
    - water deep inflows cannot become negative

In [4]:
index = 4                                        # ðŸ‘‰ CUSTOMIZE the inflow to operate on
constant = 1/5                                   # ðŸ‘‰ CUSTOMIZE the constant

val_save = deep.iloc[:, index].copy()            # save the current values
deep.iloc[:, index] *= float(constant)           # modify the data
if positive:                                     # check for negative values for water inflow
    deep.iloc[:, index] = check_negative(
        deep.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(deep.round(4))                           # display the data

âœ“ Inflow (4) modified

               Datetime  0.0 (1)  0.0 (2)  0.0 (3)  0.0 (4)  0.0 (5)
0   2023-06-01 00:00:00   316.45     0.90     1.18    0.100     0.63
1   2023-06-01 01:00:02   302.05     0.90     1.18    0.100     0.63
2   2023-06-01 01:59:57   292.03     0.90     1.17    0.100     0.64
3   2023-06-01 03:00:00   299.05     0.90     1.15    0.100     0.64
4   2023-06-01 04:00:02   294.03     0.90     1.29    0.100     0.66
..                  ...      ...      ...      ...      ...      ...
716 2023-06-30 19:59:57   380.29     1.68     1.20    0.138     0.60
717 2023-06-30 21:00:00   403.23     1.58     1.20    0.118     0.67
718 2023-06-30 22:00:02   406.66     1.44     1.20    0.118     0.60
719 2023-06-30 22:59:57   404.31     1.30     1.20    0.156     0.60
720 2023-07-01 00:00:00   394.47     1.18     1.23    0.144     0.67

[721 rows x 6 columns]

### Set to constant

Here you set any chosen deep inflow to a constant in time.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the deep inflow to modify
    - any integer with an existing deep inflow
- `constant`: the constant value of the deep inflow
    - any real number (can also be negative and/or a fraction)
    - water deep inflows cannot become negative

In [5]:
index = 2                                                      # ðŸ‘‰ CUSTOMIZE the inflow to operate on
constant = 1                                                   # ðŸ‘‰ CUSTOMIZE the constant

val_save = deep.iloc[:, index].copy()                          # save the current values
deep.iloc[:, index] = np.full((len(deep)), float(constant))    # modify the data
if positive:                                                   # check for negative values
    deep.iloc[:, index] = check_negative(
        deep.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(deep.round(4))                                         # display the data

âœ“ Inflow (2) modified

               Datetime  0.0 (1)  0.0 (2)  0.0 (3)  0.0 (4)  0.0 (5)
0   2023-06-01 00:00:00   316.45      1.0     1.18    0.100     0.63
1   2023-06-01 01:00:02   302.05      1.0     1.18    0.100     0.63
2   2023-06-01 01:59:57   292.03      1.0     1.17    0.100     0.64
3   2023-06-01 03:00:00   299.05      1.0     1.15    0.100     0.64
4   2023-06-01 04:00:02   294.03      1.0     1.29    0.100     0.66
..                  ...      ...      ...      ...      ...      ...
716 2023-06-30 19:59:57   380.29      1.0     1.20    0.138     0.60
717 2023-06-30 21:00:00   403.23      1.0     1.20    0.118     0.67
718 2023-06-30 22:00:02   406.66      1.0     1.20    0.118     0.60
719 2023-06-30 22:59:57   404.31      1.0     1.20    0.156     0.60
720 2023-07-01 00:00:00   394.47      1.0     1.23    0.144     0.67

[721 rows x 6 columns]

### Add linear trend

Here you add a linear trend to any chosen deep inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the deep inflow to modify
    - any integer with an existing deep inflow
- `step`: the time of change
    - any positive integer
    - usually `1` corresponds to one hour
    - accordingly `24` corresponds to one day
    - `8760` corresponds to one year
- `slope`: the amount of change per time of change
    - any real number (can also be negative and/or a fraction)
    - water deep inflows cannot become negative
    - deep inflow `(index)` increases by `slope` every `step` hours
- `offset`: the offset to the trend
    - any real number (can also be negative and/or a fraction)
    - water deep inflows cannot become negative
    - default is `0`

In [6]:
index = 2                                                  # ðŸ‘‰ CUSTOMIZE the inflow to operate on
step = 24                                                  # ðŸ‘‰ CUSTOMIZE the time of change
slope = -1/30                                              # ðŸ‘‰ CUSTOMIZE the slope of the trend
offset = 0                                                 # ðŸ‘‰ CUSTOMIZE the offset to the trend

rate = float(slope / step)                                 # the rate of change
val_save = deep.iloc[:, index].copy()                      # save the current values
deep.iloc[:, index] = (deep.iloc[:, index] +               # modify the data
    np.linspace(0, rate * (len(deep) - 1), len(deep)) +    # add the linear increase
    float(offset))                                         # add the offset
if positive:                                               # check for negative values for water inflow
    deep.iloc[:, index] = check_negative(
        deep.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(deep.round(4))                                     # display the data

âœ“ Inflow (2) modified

               Datetime  0.0 (1)  0.0 (2)  0.0 (3)  0.0 (4)  0.0 (5)
0   2023-06-01 00:00:00   316.45   1.0000     1.18    0.100     0.63
1   2023-06-01 01:00:02   302.05   0.9986     1.18    0.100     0.63
2   2023-06-01 01:59:57   292.03   0.9972     1.17    0.100     0.64
3   2023-06-01 03:00:00   299.05   0.9958     1.15    0.100     0.64
4   2023-06-01 04:00:02   294.03   0.9944     1.29    0.100     0.66
..                  ...      ...      ...      ...      ...      ...
716 2023-06-30 19:59:57   380.29   0.0056     1.20    0.138     0.60
717 2023-06-30 21:00:00   403.23   0.0042     1.20    0.118     0.67
718 2023-06-30 22:00:02   406.66   0.0028     1.20    0.118     0.60
719 2023-06-30 22:59:57   404.31   0.0014     1.20    0.156     0.60
720 2023-07-01 00:00:00   394.47   0.0000     1.23    0.144     0.67

[721 rows x 6 columns]

### Change depth

Here you change the depth of any chosen deep inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the deep inflow to modify
    - any integer with an existing deep inflow
- `depth`: the new depth
    - any real number (can also be negative and/or a fraction)

In [7]:
index = 5                                 # ðŸ‘‰ CUSTOMIZE the inflow to operate on
depth = -2                                # ðŸ‘‰ CUSTOMIZE the constant

deep = change_depth(deep, index, depth)   # modify the data
display(deep.round(4))                    # display the modified data

âœ“ Modified depth of inflow (5)

               Datetime  0.0 (1)  0.0 (2)  0.0 (3)  0.0 (4)  -2.0 (5)
0   2023-06-01 00:00:00   316.45   1.0000     1.18    0.100      0.63
1   2023-06-01 01:00:02   302.05   0.9986     1.18    0.100      0.63
2   2023-06-01 01:59:57   292.03   0.9972     1.17    0.100      0.64
3   2023-06-01 03:00:00   299.05   0.9958     1.15    0.100      0.64
4   2023-06-01 04:00:02   294.03   0.9944     1.29    0.100      0.66
..                  ...      ...      ...      ...      ...       ...
716 2023-06-30 19:59:57   380.29   0.0056     1.20    0.138      0.60
717 2023-06-30 21:00:00   403.23   0.0042     1.20    0.118      0.67
718 2023-06-30 22:00:02   406.66   0.0028     1.20    0.118      0.60
719 2023-06-30 22:59:57   404.31   0.0014     1.20    0.156      0.60
720 2023-07-01 00:00:00   394.47   0.0000     1.23    0.144      0.67

[721 rows x 6 columns]

### Add inflow

Here you add a deep inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the new deep inflow
    - any positive integer not larger than the amount of existing deep inflows plus one, or `-1`
    - default is `-1` to append as the last deep inflow
- `values`: the values of the new deep inflow, can be:
    - any real number (can also be negative and/or a fraction): to set a constant value in time
    - 1D array of real numbers (can also be negative and/or a fraction) of the same length as the other deep inflows
    - water deep inflows cannot become negative
    - default is `0`, constant in time
- `depth`: the depth of the new deep inflow
    - any real number (can also be negative and/or a fraction)
    - default is `0`

In [8]:
index = 4                                                  # ðŸ‘‰ CUSTOMIZE the position of the new inflow
values = 3                                                 # ðŸ‘‰ CUSTOMIZE the value of the new inflow
depth = 0                                                  # ðŸ‘‰ CUSTOMIZE the depth of the new inflow

deep, deep_order = add_inflow(                             # modify the data
    deep, deep_order, index, values, depth, positive)      # keep track of the modifications with deep_order
display(deep.round(4))                                     # display the data

âœ“ Added inflow at (4)

,Datetime,0.0 (1),0.0 (2),0.0 (3),0.0 (4),0.0 (5),-2.0 (6)
0,2023-06-01 00:00:00,316.45,1.0000,1.18,3.0,0.100,0.63
1,2023-06-01 01:00:02,302.05,0.9986,1.18,3.0,0.100,0.63
2,2023-06-01 01:59:57,292.03,0.9972,1.17,3.0,0.100,0.64
3,2023-06-01 03:00:00,299.05,0.9958,1.15,3.0,0.100,0.64
4,2023-06-01 04:00:02,294.03,0.9944,1.29,3.0,0.100,0.66
...,...,...,...,...,...,...,...
716,2023-06-30 19:59:57,380.29,0.0056,1.20,3.0,0.138,0.60
717,2023-06-30 21:00:00,403.23,0.0042,1.20,3.0,0.118,0.67
718,2023-06-30 22:00:02,406.66,0.0028,1.20,3.0,0.118,0.60
719,2023-06-30 22:59:57,404.31,0.0014,1.20,3.0,0.156,0.60
720,2023-07-01 00:00:00,394.47,0.0000,1.23,3.0,0.144,0.67

### Remove inflow

Here you remove a deep inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the deep inflow to remove
    - any integer with an existing deep inflow, or `-1`
    - default is `-1` to remove the last deep inflow

In [9]:
index = 3                                        # ðŸ‘‰ CUSTOMIZE the inflow to operate on

deep, deep_order = remove_inflow(                # modify the data
    deep, deep_order, index)                     # keep track of the modifications with deep_order
display(deep.round(4))                           # display the modified data

âœ“ Removed inflow (3)

,Datetime,0.0 (1),0.0 (2),0.0 (3),0.0 (4),-2.0 (5)
0,2023-06-01 00:00:00,316.45,1.0000,3.0,0.100,0.63
1,2023-06-01 01:00:02,302.05,0.9986,3.0,0.100,0.63
2,2023-06-01 01:59:57,292.03,0.9972,3.0,0.100,0.64
3,2023-06-01 03:00:00,299.05,0.9958,3.0,0.100,0.64
4,2023-06-01 04:00:02,294.03,0.9944,3.0,0.100,0.66
...,...,...,...,...,...,...
716,2023-06-30 19:59:57,380.29,0.0056,3.0,0.138,0.60
717,2023-06-30 21:00:00,403.23,0.0042,3.0,0.118,0.67
718,2023-06-30 22:00:02,406.66,0.0028,3.0,0.118,0.60
719,2023-06-30 22:59:57,404.31,0.0014,3.0,0.156,0.60
720,2023-07-01 00:00:00,394.47,0.0000,3.0,0.144,0.67

### Change order

Here you change the order of the deep inflows.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `order`: the new positions of the deep inflows
    - tuple with as many elements as existing deep inflows
    - example: `[5, 2, 3, 4, 1]`: deep inflows (1) and (5) change position

In [10]:
order = [5, 2, 3, 4, 1]                          # ðŸ‘‰ CUSTOMIZE the new order

deep, deep_order = change_order(                 # modify the data
    deep, deep_order, order)                     # keep track of the modifications with deep_order
display(deep.round(4))                           # display the modified data

âœ“ Changed inflow order

,Datetime,-2.0 (1),0.0 (2),0.0 (3),0.0 (4),0.0 (5)
0,2023-06-01 00:00:00,0.63,1.0000,3.0,0.100,316.45
1,2023-06-01 01:00:02,0.63,0.9986,3.0,0.100,302.05
2,2023-06-01 01:59:57,0.64,0.9972,3.0,0.100,292.03
3,2023-06-01 03:00:00,0.64,0.9958,3.0,0.100,299.05
4,2023-06-01 04:00:02,0.66,0.9944,3.0,0.100,294.03
...,...,...,...,...,...,...
716,2023-06-30 19:59:57,0.60,0.0056,3.0,0.138,380.29
717,2023-06-30 21:00:00,0.67,0.0042,3.0,0.118,403.23
718,2023-06-30 22:00:02,0.60,0.0028,3.0,0.118,406.66
719,2023-06-30 22:59:57,0.60,0.0014,3.0,0.156,404.31
720,2023-07-01 00:00:00,0.67,0.0000,3.0,0.144,394.47

# Step 4
## Modify surface inflow data

This step presents various way to modify the surface inflow data.

You can modify the data in the following ways:
- `Add a constant`
- `Multiply by a constant`
- `Set to a constant`
- `Add a linear trend`
- `Change depth`
- `Add an inflow`
- `Remove an inflow`
- `Change order of inflows`

Be aware that:
- Water surface inflows (`Qin.dat` files) cannot be negative
    - this is controlled in this code
- All surface inflow values must be given for a range of depths on a per-meter basis (Q/h), as they will be integrated over depth by the model
    - more info here: https://github.com/Eawag-AppliedSystemAnalysis/Simstrat/blob/master/doc/SIMSTRAT_V304_UserManual.pdf, Section 5.2
    - this must be assured manually

### Add inflow

Here you add a surface inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the new surface inflow
    - any positive integer not larger than the amount of existing deep inflows plus one, or `-1`
    - default is `-1` to append as the last inflow
- `values`: the values of the new surface inflow, can be:
    - any real number (can also be negative and/or a fraction): to set a constant value in time
    - 1D array of real numbers (can also be negative and/or a fraction) of the same length as the other surface inflows
    - water surface inflows cannot become negative
    - default is `0`, constant in time
- `depth`: the depth of the new surface inflow
    - any real number (can also be negative and/or a fraction)
    - default is `0`

In [11]:
index = 1                                                  # ðŸ‘‰ CUSTOMIZE the position of the new inflow
values = 2                                                 # ðŸ‘‰ CUSTOMIZE the value of the new inflow
depth = 0                                                  # ðŸ‘‰ CUSTOMIZE the depth of the new inflow

surf, surf_order = add_inflow(                             # modify the data
    surf, surf_order, index, values, depth, positive)      # keep track of the modifications with surf_order
display(surf.round(4))                                     # display the modified data

âœ“ Added inflow at (1)

               Datetime  0.0  (1)
0   2023-06-01 00:00:00       2.0
1   2023-06-01 01:00:02       2.0
2   2023-06-01 01:59:57       2.0
3   2023-06-01 03:00:00       2.0
4   2023-06-01 04:00:02       2.0
..                  ...       ...
716 2023-06-30 19:59:57       2.0
717 2023-06-30 21:00:00       2.0
718 2023-06-30 22:00:02       2.0
719 2023-06-30 22:59:57       2.0
720 2023-07-01 00:00:00       2.0

[721 rows x 2 columns]

### Add constant

Here you add a constant to any surface inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the surface inflow to modify
    - any integer with an existing surface inflow
- `constant`: the constant to add
    - any real number (can also be negative and/or a fraction)
    - water surface inflows cannot become negative

In [12]:
index = 1                                          # ðŸ‘‰ CUSTOMIZE the inflow to operate on
constant = -1                                      # ðŸ‘‰ CUSTOMIZE the constant

val_save = surf.iloc[:, index].copy()              # save the current values
surf.iloc[:, index] += float(constant)             # modify the data
if positive:                                       # check for negative values
    surf.iloc[:, index] = check_negative(
        surf.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(surf.round(4))                             # display the data

âœ“ Inflow (1) modified

               Datetime  0.0  (1)
0   2023-06-01 00:00:00       1.0
1   2023-06-01 01:00:02       1.0
2   2023-06-01 01:59:57       1.0
3   2023-06-01 03:00:00       1.0
4   2023-06-01 04:00:02       1.0
..                  ...       ...
716 2023-06-30 19:59:57       1.0
717 2023-06-30 21:00:00       1.0
718 2023-06-30 22:00:02       1.0
719 2023-06-30 22:59:57       1.0
720 2023-07-01 00:00:00       1.0

[721 rows x 2 columns]

### Multiply by constant

Here you multiply any surface inflow by a constant.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the surface inflow to modify
    - any integer with an existing surface inflow
- `constant`: the constant to multiply by
    - any real number (can also be negative and/or a fraction)
    - water surface inflows cannot become negative

In [13]:
index = 1                                          # ðŸ‘‰ CUSTOMIZE the inflow to operate on
constant = 1/5                                     # ðŸ‘‰ CUSTOMIZE the constant

val_save = surf.iloc[:, index].copy()              # save the current values
surf.iloc[:, index] *= float(constant)             # modify the data
if positive:                                       # check for negative values
    surf.iloc[:, index] = check_negative(
        surf.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(surf.round(4))                             # display the data

âœ“ Inflow (1) modified

               Datetime  0.0  (1)
0   2023-06-01 00:00:00       0.2
1   2023-06-01 01:00:02       0.2
2   2023-06-01 01:59:57       0.2
3   2023-06-01 03:00:00       0.2
4   2023-06-01 04:00:02       0.2
..                  ...       ...
716 2023-06-30 19:59:57       0.2
717 2023-06-30 21:00:00       0.2
718 2023-06-30 22:00:02       0.2
719 2023-06-30 22:59:57       0.2
720 2023-07-01 00:00:00       0.2

[721 rows x 2 columns]

### Set to constant

Here you set any chosen surface inflow to a constant in time.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the surface inflow to modify
    - any integer with an existing surface inflow
- `constant`: the constant value of the surfcae inflow
    - any real number (can also be negative and/or a fraction)
    - water surface inflows cannot become negative

In [14]:
index = 1                                                   # ðŸ‘‰ CUSTOMIZE the inflow to operate on
constant = 4                                                # ðŸ‘‰ CUSTOMIZE the constant

val_save = surf.iloc[:, index].copy()                       # save the current values
surf.iloc[:, index] = np.full((len(surf)), float(constant)) # modify the data
if positive:                                                # check for negative values
    surf.iloc[:, index] = check_negative(
        surf.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(surf.round(4))                                      # display the data

âœ“ Inflow (1) modified

               Datetime  0.0  (1)
0   2023-06-01 00:00:00       4.0
1   2023-06-01 01:00:02       4.0
2   2023-06-01 01:59:57       4.0
3   2023-06-01 03:00:00       4.0
4   2023-06-01 04:00:02       4.0
..                  ...       ...
716 2023-06-30 19:59:57       4.0
717 2023-06-30 21:00:00       4.0
718 2023-06-30 22:00:02       4.0
719 2023-06-30 22:59:57       4.0
720 2023-07-01 00:00:00       4.0

[721 rows x 2 columns]

### Add linear trend

Here you add a linear trend to any chosen surface inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the surface inflow to modify
    - any integer with an existing surface inflow
- `step`: the time of change
    - any positive integer
    - usually `1` corresponds to one hour
    - accordingly `24` corresponds to one day
    - `8760` corresponds to one year
- `slope`: the amount of change per time of change
    - any real number (can also be negative and/or a fraction)
    - water surface inflows cannot become negative
    - inflow `(index)` increases by `slope` every `step` hours
- `offset`: the offset to the trend
    - any real number (can also be negative and/or a fraction)
    - water surface inflows cannot become negative
    - default is `0`

In [15]:
index = 1                                                  # ðŸ‘‰ CUSTOMIZE the inflow to operate on
step = 24                                                  # ðŸ‘‰ CUSTOMIZE the time of change
slope = 1/15                                               # ðŸ‘‰ CUSTOMIZE the slope of the trend
offset = -2                                                # ðŸ‘‰ CUSTOMIZE the offset to the trend

rate = float(slope / step)                                 # the rate of change
val_save = surf.iloc[:, index].copy()                      # save the current values
surf.iloc[:, index] = (surf.iloc[:, index] +               # modify the data
    np.linspace(0, rate * (len(surf) - 1), len(surf)) +    # add the linear increase
    float(offset))                                         # add the offset
if positive:                                               # check for negative values
    surf.iloc[:, index] = check_negative(
        surf.iloc[:, index], val_save, str(index))
else:
    print(f"âœ“ Inflow ({index}) modified")
display(surf.round(4))                                     # display the data

âœ“ Inflow (1) modified

               Datetime  0.0  (1)
0   2023-06-01 00:00:00    2.0000
1   2023-06-01 01:00:02    2.0028
2   2023-06-01 01:59:57    2.0056
3   2023-06-01 03:00:00    2.0083
4   2023-06-01 04:00:02    2.0111
..                  ...       ...
716 2023-06-30 19:59:57    3.9889
717 2023-06-30 21:00:00    3.9917
718 2023-06-30 22:00:02    3.9944
719 2023-06-30 22:59:57    3.9972
720 2023-07-01 00:00:00    4.0000

[721 rows x 2 columns]

### Change depth

Here you change the depth of any chosen surface inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the surface inflow to modify
    - any integer with an existing surface inflow
- `depth`: the new depth
    - any real number (can also be negative and/or a fraction)

In [16]:
index = 1                                 # ðŸ‘‰ CUSTOMIZE the inflow to operate on
depth = -1                                # ðŸ‘‰ CUSTOMIZE the constant

surf = change_depth(surf, index, depth)   # modify the data
display(surf.round(4))                    # display the modified data

âœ“ Modified depth of inflow (1)

               Datetime  -1.0 (1)
0   2023-06-01 00:00:00    2.0000
1   2023-06-01 01:00:02    2.0028
2   2023-06-01 01:59:57    2.0056
3   2023-06-01 03:00:00    2.0083
4   2023-06-01 04:00:02    2.0111
..                  ...       ...
716 2023-06-30 19:59:57    3.9889
717 2023-06-30 21:00:00    3.9917
718 2023-06-30 22:00:02    3.9944
719 2023-06-30 22:59:57    3.9972
720 2023-07-01 00:00:00    4.0000

[721 rows x 2 columns]

#### Add inflows for next step

In [17]:
surf, surf_order = add_inflow(                                          # modify the data
    surf, surf_order, 1, 0, -1, positive)                               # keep track of the modifications with surf_order
surf, surf_order = add_inflow(                                          # modify the data
    surf, surf_order, 3, 1, -5, positive)                               # keep track of the modifications with surf_order
surf, surf_order = add_inflow(                                          # modify the data
    surf, surf_order, 2, surf.iloc[:, 2].values, 0, positive)           # keep track of the modifications with surf_order
display(surf.round(4))                                                  # display the data

âœ“ Added inflow at (1)
âœ“ Added inflow at (3)
âœ“ Added inflow at (2)

               Datetime  -1.0    (1)  0.0  (2)  -1.0    (3)  -5.0   (4)
0   2023-06-01 00:00:00          0.0    2.0000       2.0000         1.0
1   2023-06-01 01:00:02          0.0    2.0028       2.0028         1.0
2   2023-06-01 01:59:57          0.0    2.0056       2.0056         1.0
3   2023-06-01 03:00:00          0.0    2.0083       2.0083         1.0
4   2023-06-01 04:00:02          0.0    2.0111       2.0111         1.0
..                  ...          ...       ...          ...         ...
716 2023-06-30 19:59:57          0.0    3.9889       3.9889         1.0
717 2023-06-30 21:00:00          0.0    3.9917       3.9917         1.0
718 2023-06-30 22:00:02          0.0    3.9944       3.9944         1.0
719 2023-06-30 22:59:57          0.0    3.9972       3.9972         1.0
720 2023-07-01 00:00:00          0.0    4.0000       4.0000         1.0

[721 rows x 5 columns]

### Remove inflow

Here you remove a surface inflow.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `index`: the index of the surface inflow to remove
    - any integer with an existing surface inflow, or `-1`
    - default is `-1` to remove the last surface inflow

In [18]:
index = -1                                       # ðŸ‘‰ CUSTOMIZE the inflow to operate on

surf, surf_order = remove_inflow(                # modify the data
    surf, surf_order, index)                     # keep track of the modifications with surf_order
display(surf.round(4))                           # display the modified data

âœ“ Removed inflow (4)

               Datetime  -1.0     (1)  0.0   (2)  -1.0     (3)
0   2023-06-01 00:00:00           0.0     2.0000        2.0000
1   2023-06-01 01:00:02           0.0     2.0028        2.0028
2   2023-06-01 01:59:57           0.0     2.0056        2.0056
3   2023-06-01 03:00:00           0.0     2.0083        2.0083
4   2023-06-01 04:00:02           0.0     2.0111        2.0111
..                  ...           ...        ...           ...
716 2023-06-30 19:59:57           0.0     3.9889        3.9889
717 2023-06-30 21:00:00           0.0     3.9917        3.9917
718 2023-06-30 22:00:02           0.0     3.9944        3.9944
719 2023-06-30 22:59:57           0.0     3.9972        3.9972
720 2023-07-01 00:00:00           0.0     4.0000        4.0000

[721 rows x 4 columns]

### Change order

Here you change the order of the surface inflows.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change these parameters:
- `order`: the new positions of the surface inflows
    - tuple with as many elements as existing surface inflows
    - example: `[1, 3, 2]`: surface inflows (2) and (3) change position

In [19]:
order = [1, 3, 2]                                # ðŸ‘‰ CUSTOMIZE the new order

surf, surf_order = change_order(                 # modify the data
    surf, surf_order, order)                     # keep track of the modifications with surf_order
display(surf.round(4))                           # display the modified data

âœ“ Changed inflow order

               Datetime  -1.0      (1)  -1.0      (2)  0.0    (3)
0   2023-06-01 00:00:00            0.0         2.0000      2.0000
1   2023-06-01 01:00:02            0.0         2.0028      2.0028
2   2023-06-01 01:59:57            0.0         2.0056      2.0056
3   2023-06-01 03:00:00            0.0         2.0083      2.0083
4   2023-06-01 04:00:02            0.0         2.0111      2.0111
..                  ...            ...            ...         ...
716 2023-06-30 19:59:57            0.0         3.9889      3.9889
717 2023-06-30 21:00:00            0.0         3.9917      3.9917
718 2023-06-30 22:00:02            0.0         3.9944      3.9944
719 2023-06-30 22:59:57            0.0         3.9972      3.9972
720 2023-07-01 00:00:00            0.0         4.0000      4.0000

[721 rows x 4 columns]

# Step 5
## Save modified data

Here you save the modified inflow data to a new or the existing file.

**ðŸ‘‰ CUSTOMIZE (next cell)** You can change this parameter:
- `copy`: Wheter to create a new inflow file (with _modified appended to the file_name) or to overwrite the original
    - `True` to create a new file (default)
    - `False` to overwrite the original

In [20]:
save_inflow_data(
    deep,                        # modified deep inflow data
    surf,                        # modified surface inflow data
    deep_order,                  # modified order of deep inflows
    surf_order,                  # modified order of surface inflows
    path = local_path,           # input path to the local file
    file = file_name,            # input name of the local file
    copy = True                  # ðŸ‘‰ CUSTOMIZE whether you want to copy and modify or overwrite the original
)

Writing modified data into: ../geneva\Qin_modified.dat
âœ“ Modified 721 rows